.error {
  color: red;
}

.success {
  color: green;
}

.login-status {
  font-size: large;
}

.bg-custom {
  margin: 0;
  background-color:#252523;
}

.wrapper-main {
  min-height: 100vh;
  background-color: silver;
  z-index:2;
}

.header-text {
  font-size: 7.5vw;
}
.contact-text {
  font-size: 5vw;
}

.footer-text {
  color: white;
}

.table-section {
  background-color: red;
  padding-top: 10px;
}

html, body, footer {
  margin:0;
  padding:0;
}