@font-face {
  font-family: dodgerItalic;
  src: url(DodgerCondensedItalic-4Dzl.otf);
}

p, strong, div, input {
  font-family: 'Roboto', sans-serif;
}
.error {
  color: red;
}

.success {
  color: green;
}

.login-status {
  font-size: large;
}

.wrapper-site {
  min-height: 100%;
  background: url(images/chris-liverani-HUJDz6CJEaM-unsplash.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index:2;
}

.header-text {
  font-size: 5vw;
  font-family: dodgerItalic !important;
}

.nav-title {
  font-family: dodgerItalic !important;
}
.about-text {
  font-size: 0.85rem;
  padding-left: 1vw;
  padding-right: 1vw;
}

.contact-text {
  font-size: 5vw;
}

.profile-text {
  font-size: 2rem;
}
.footer-text {
  color: whitesmoke;
}

.info-box {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.table-size {
  max-height: 250px;
}

.custom-column {
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  margin-bottom: 1.5vh;
  border-radius: 10px;
}

.bg-main {
  background-color: #00A;
}

.section-wrapper {
  background-color: rgba(245, 243, 243, 0.8);
  border-radius: 10px;
  padding: 1vw;
  margin: 1vw;
}

.section-padding {
  padding: 2vh;
}

.push {
  margin: 50px;
}
